/* body {
    background-color: #f5f5f5;
}

.factsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factsMainHeading {
    width: 946px;
    height: 103px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.05em;
    flex: none;

    @media screen and (max-width: 950px) {
        width: 650px;
        height: 112px;
        font-size: 72px;
        margin-top: 66px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 281px) {
        width: 270px;
        height: 112px;
        font-size: 52px;
        margin-top: 66px;
        margin-left: auto;
        margin-right: auto;
    }
}

.factsSecondaryHeading {
    display: flex;
    justify-content: space-around;
    width: 946px;
    height: 53px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.03em;
    margin-left: 30px;

    @media screen and (max-width: 950px) {
        width: 600px;
        font-size: 40px;
        line-height: 40px;
        margin-top: 66px;
        margin-left: 0px;
    }

    @media screen and (max-width: 550px) {
        width: 325px;
        font-size: 40px;
        line-height: 40px;
        margin-top: 66px;
        margin-bottom: 66px;
        margin-left: 0px;
    }

    @media screen and (max-width: 280px) {
        width: 270px;
        font-size: 32px;
        line-height: 40px;
        margin-top: 66px;
        margin-bottom: 66px;
        margin-left: 0px;
    }
}

.factList {
    display: flex;
    flex-direction: column;
}

.factItem {
    display: flex;
    border-bottom: 2px solid #e6e6e6;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.factDesription {
    width: 708px;
    min-height: 65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;

    @media screen and (max-width: 950px) {
        font-size: 24px;
        width: 650px;
        line-height: 31px;
    }

    @media screen and (max-width: 900px) {
        width: 600px;
    }

    @media screen and (max-width: 850px) {
        width: 550px;
    }

    @media screen and (max-width: 800px) {
        width: 500px;
    }

    @media screen and (max-width: 750px) {
        width: 450px;
    }

    @media screen and (max-width: 700px) {
        width: 400px;
    }

    @media screen and (max-width: 650px) {
        width: 350px;
    }

    @media screen and (max-width: 600px) {
        width: 300px;
    }

    @media screen and (max-width: 550px) {
        width: 260px;
    }

    @media screen and (max-width: 376px) {
        width: 230px;
    }

    @media screen and (max-width: 281px) {
        width: 170px;
    }
} */

/*  **** MY Code ****  */
* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 946px;
  margin: 0 auto;
  padding: 0 15px;
}
.factsMainHeading {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.05em;
  @media (max-width: 600px) {
    color: blue;
  }
}
.factsSecondaryHeading {
  text-align: center;
  font: normal 600 1.5rem sans-serif;
  letter-spacing: -0.03em;
}
.factList {
  display: flex;
  flex-direction: column;
}
.factItem {
  padding: 10px 9px;
  overflow: hidden;
  margin: 10px 0;
  border-bottom: 2px solid #b9c6d7;
  transition: all 0.3s;
}
.factItem > div {
  font-weight: 700;
}
.factItem span {
  font-weight: 400;
}
.factTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.factList > .factItem:not(.factItem:last-of-type):not(.factItem:first-of-type) {
  border-top: 2px solid #b9c6d7;
}

.factItem:hover {
  border-radius: 12px;
  background-color: #000;
  border-color: transparent !important;
  & :is(button, i, span, p) {
    color: #fff;
  }
}

.factNumber {
  font-size: 1rem;
  font-weight: 600 !important;
}
.accordion__content__desc {
  width: 60%;
  padding: 0px;
}

.accordion__content__img {
  width: 40%;
  object-fit: contain;
}
.factClick {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600 !important;
}
.accordion__content {
  padding-top: 15px;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  padding: 0 10px 0 10px;
  transition: all 0.5s ease-in-out;
}
.accordion__open {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}
.d-none {
  display: none;
}
@media screen and (min-width: 768px) {
  .factsMainHeading {
    font-size: 48px;
  }
  .factsSecondaryHeading {
    font-size: 36px;
  }
  .factDesription {
    font-size: 1.5rem;
  }
}
.skeleton {
  width: 300px;
  height: 300px;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  animation: 1.5s skeleton linear infinite;
  background-size: 200% 100%;
}
@keyframes skeleton {
  to {
    background-position-x: -200%;
  }
}
.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__container img {
  height: 50px;
}
.inverted {
  background: #000;
  border-radius: 12px;
}
